<div class="submission" [ngClass]="{ 'clickable' : clickable}"
	 [routerLink]="clickable ? getRoute() : null" save-router-state>
	<header class="task-info" *ngIf="!includeOwner; else withUser">
		<div>
			<h1>{{ submission.task.name }}</h1>
			<h2>{{ submission.task.track }}</h2>
		</div>
	</header>
	<section class="submission-content"
			 [style.background-image]="'url(' + generateThumbnailUrl(submission) + ')'">
	</section>
	<footer class="votes">
		<span class="submission-likes" [ngClass]="{ 'disabled': isAnonymous }">
			<submission-like [submission]="submission" [includeText]="false"></submission-like>
		</span>
		<a class="submission-annotations" [ngClass]="{'disabled': !clickable}" *ngIf="annotationsEnabled">
			<fa name="comment"></fa>
			{{ submission.annotations }}
		</a>
		<span class="submission-bestwork" [ngClass]="{ 'disabled': !isTeacher }">
			<mark-best-work [submission]="submission" [includeText]="false"></mark-best-work>
		</span>
	</footer>
</div>

<ng-template #withUser>
	<header class="task-info-with-author">
		<avatar [user]="submission.user" [size]="50" class="user-avatar"></avatar>
		<div>
			<h1>{{ submission.task.name }}</h1>
			<h2>{{ submission.user.firstName }} {{ submission.user.lastName }}</h2>
		</div>
	</header>
</ng-template>
