<h1>Are you sure you want to {{name}}?</h1>
This is more text inside the same dialog. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est lectus, vulputate eget elementum id, rutrum sed arcu. Vivamus sit amet vulputate lorem. Sed erat nibh, tempus eget elit ac, hendrerit dictum mauris. Quisque a eleifend sem. Donec quis erat lorem. Nam dictum est non dui sodales porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac pulvinar ante. Ut erat magna, cursus eu arcu et, rutrum scelerisque lectus.

<section class="dialog-buttons">
	<button class="button-yellow" (click)="clickYes()">Yes</button>
	<button class="button" (click)="dialog.close(null)">Cancel</button>
	<button class="button-black" (click)="clickMaybe()">Maybe</button>
</section>
