<div class="content-wrapper">
	<h1>Welcome back to Sketchlab</h1>
	<h2>The best place to learn design sketching</h2>

	<p>
		To reset your password, we need your email address. a newly generated password will be sent to the given email
		address.
	</p>
	<p>You will be redirected back to the login page afterwards.</p>
	<form #resetForm="ngForm" (ngSubmit)="resetPassword(); $event.stopPropagation();"
		  *ngIf="!this.submitted; else loading">
		<div>
			<input [(ngModel)]="emailDto.email" placeholder="Email address" name="email" type="email" required email #email="ngModel">
		</div>
		<div>
			<button type="submit" class="button" [disabled]="!resetForm.valid">Send new password</button>
		</div>
	</form>
</div>

<ng-template #loading>
	<loading-spinner></loading-spinner>
</ng-template>
