<div class="content-container">
	<h1>Change password</h1>

	<p>To change your password, please provide your old password for verification and your preferred new password.</p>
	<p>Make sure that your new password is at least 8 characters long.</p>

	<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
		<div class="info-message" *ngIf="success">
			<fa name="check"></fa>
			Password changed.
		</div>
		<label><input type="password" placeholder="Old password" formControlName="oldPassword"></label>
		<div class="error-message" *ngIf="wrongPassword">
			Wrong old password
		</div>
		<label><input type="password" placeholder="New password" minlength="8" formControlName="newPassword"></label>
		<div class="error-message"
			 *ngIf="passwordForm.get('newPassword').touched && !passwordForm.get('newPassword').valid">
			Please make sure your password has at least 8 characters.
		</div>
		<label><input type="password" placeholder="Verify new password" minlength="8"
					  formControlName="newPasswordVerify"></label>
		<div class="error-message"
			 *ngIf="passwordForm.get('newPasswordVerify').touched && !passwordForm.get('newPasswordVerify').valid">
			Given passwords do not match.
		</div>

		<button type="submit" class="button-yellow" [disabled]="!passwordForm.valid">
			Change password
			<fa *ngIf="loading" name="circle-o-notch" animation="spin"></fa>
		</button>
	</form>
</div>
