@import "../../../styles/variables";

.content-container {
	@include page-segment;

	h1 {
		font-size: $default-text-size-larger;
	}

	form {
		display: flex;
		flex-direction: column;

		.info-message, input, .error-message, button {
			width: 300px;
			box-sizing: border-box;
		}

		.info-message {}
	}
}


@media #{$breakpoint-only-phone} {
	.content-container {
		form {
			.info-message, input, .error-message, button {
				width: 100%;
			}
		}
	}
}
