<footer>
	<div>
		<span id="logo-text" [title]="buildString">Sketchlab</span> by <a href="https://www.utwente.nl/">University of Twente.</a>
	</div>

	<div class="footer-navigation">
		<a routerLink="/help">Help</a><br>
		<a routerLink="/contact">Contact</a><br>
		<a routerLink="/privacy">Privacy</a><br>
		<a routerLink="/tos">Terms</a>
	</div>

	<div>
		<p>&copy; {{currentYear}} Sketchlab. All rights reserved.</p>
		<br>
		<p>
			The best place to learn design sketching.<br>
			Share your work and your progress.
		</p>
	</div>
</footer>
