<static-page>
	<main>
		<h1>Terms of Service</h1>

		<h2>Disclaimer</h2>
		<p>
			The information contained on <a href="https://sketchlab.utwente.nl">Sketchlab</a> is for teaching purposes
			only. Sketchlab assumes no responsibility for errors or omissions in the contents on the Service.
			We did our very best to verify the sources of all materials used in this online course.
			If you find any infringement regarding copyright protected material, please let us know immediately.
			Any infringement was not done on purpose and will be rectified to all parties’ satisfaction.
			Sketchlab reserves the right to update a new version, to make additions, deletions,
			or modification to the contents on Sketchlab at any time without prior notice.
			Sketchlab does not warrant that the website is free of viruses or other harmful components.
		</p>

		<h2>License</h2>
		<p>
			The videos in Sketchlab are licensed to the public under the Creative Commons
			Attribution-NonCommercial-NoDerivatives 4.0 International License.
		</p>
		<p>
			The code source of the tool Sketchlab is licensed to the public under the Creative Commons
			Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0) License.</p>
		<p>
			Sketchlab is free software. You can redistribute it and/or modify it under the Creative Commons
			Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0) License.
		</p>
	</main>
</static-page>
